<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    #app
      h1 情感语录
      .conten
        img(src="./img/732129315C010AC0DC32676672A76227.jpg", alt="", srcset="")
        p 爱情里两个人没有生下来就合适，都需要时间来磨合，最终持久的好的爱情，是守出来的，而不是比出来的，是修理出来的，而不是前一个后一个换出来的。
        img(src="./img/WechatIMG14.jpeg", alt="")
        p 爱情里没人会真正因为一段过往而永远无法释怀。人都有自愈能力。爱情里心灵的伤口如同肌肤的伤口，没有什么特效药，需要时间慢慢复原。但如果你自己折磨自己，伤口处理不当，又怎么能完好如初呢？爱情里放过自己，翻过成长日记中这沉重的一页，过几年你再读，是完全不一样的感觉。
        img(src="./img/WechatIMG15.jpeg", alt="")
        p 没有结局的爱情，我用剧情去支撑。爱情里有太多事情都可以迎难而上，努力做好。只是爱情不行，因为自尊放不下， 不允许。
        p 爱情里最奢侈的人，是肯花时间陪你的人。谁的时间都是有价值的，爱情里把时间分给了你，等于把自己的世界分给你。“爱”的含义其实很简单，爱情就是：有个人，陪你直到最后，没有离开。
        img(src="./img/1532397568514.jpg", alt="", srcset="")
        p 爱情里最难过的是遇见了 得到了 又匆忙的失去 然后在心底留了一道疤 它让你什么时候疼 就什么时候疼。爱情里你永远也看不到我最寂寞时候的样子，因为只有你不在我身边的时候，我才最寂寞。爱情里的伤口就像我一样，是个倔强的孩子，不肯愈合，因为爱是温暖潮湿的地方，适合任何东西生长。

