//- - var complie = htmlWebpackPlugin.options.globalConfig
//- - var src = complie.cdn || '/plugins/'
//- - var map = complie.baseStyle || []
//- each item in map
//-     link(rel="stylesheet",href=src+item)
